.data{
    position: relative;
    bottom: 150px;
    left: 35px;
    color: gray;
    font-size: 15px;
    font-family: "Myriad Pro", serif;
    z-index: 63;
}

.Price{
    position: relative;
    bottom: 150px;
    left: 35px;
    color: white;
    font-size: 25px;
    font-family: "Myriad Pro", serif;
    z-index: 63;
}
.PriceData{
    position: relative;
    bottom: 150px;
    left: 35px;
    color: white;
    font-size: 25px;
    font-family: "Myriad Pro", serif;
    z-index: 63;
}
.Percent{
    position: relative;
    bottom: 150px;
    left: 35px;
    color: white;
    font-size: 15px;
    font-family: "Myriad Pro", serif;
    z-index: 63;
}


.positive{
    left: 100px;
    position: relative;
    bottom: 150px;
    color: green;
    font-size: 15px;
    font-family: "Myriad Pro", serif;
    z-index: 63;
}

.negative{
    left: 100px;
    position: relative;
    bottom: 150px;
    color: red;
    font-size: 15px;
    font-family: "Myriad Pro", serif;
    z-index: 63;

}
.viev{
    position: relative;
}

input[type = 'checkbox'] {
    display: none;
}

label{
    padding: 40px;
    position: absolute;
    top: -155px;
    left: 210px;
}

label::before{
    z-index: 71;
    background-color: rgb(196, 196, 196);
    box-shadow: inset 1px 3px 7px 0 rgba(27, 36, 40, 0.56);
    content: '';
    display: inline-block;
    width: 30px;
    height: 15px;
    border-radius: 30px;
}

i {
    content: '';
    position: relative;
    background-image: url("img/i.png");
    top: -2px;
}
i::before {
    border-radius: 30px;
    content: '';
    position: absolute;
    background-image: url("img/i.png");
    width: 23px;
    height: 23px;
    left: -40px;
}

input:checked+i:before{
    left: -15px;
}
